/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  outline: none;
}

body {
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estrutura principal */
main {
  width: 90%;
  max-width: 800px;
  background-color: #2f2841;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  color: #f0ffffde;
  overflow-y: auto;
}

/* Estilo do resumo */
.resumo {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  font-weight: bold;
  color: #fff;
}

.resumo > div {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 0px 5px #ccc;
  border-radius: 10px;
  padding: 15px;
  width: 150px;
  background-color: #3f2c4a;
}

/* Estilo do novo item */
.novo-item {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  background-color: #3f2c4a;
  border-radius: 10px;
  padding: 10px;
}

.novo-item div {
  flex: 1;
}

.novo-item label {
  font-size: 14px;
  color: #f0ffffde;
}

.novo-item input, .novo-item select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #3f2c4a;
  color: #f0ffffde;
}

.novo-item input::placeholder, .novo-item select::placeholder {
  color: #f0ffff94;
}

.botao-adicionar {
  padding: 10px;
  background-color: #53eca4;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.botao-adicionar:hover {
  background-color: #41b487;
}

/* Estilo da tabela */
.tabela table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.tabela th, .tabela td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
  color: #f0ffffde;
}

.tabela th {
  background-color: #3f2c4a;
  font-weight: bold;
}

.tabela button {
  background: none;
  border: none;
  color: #D83121;
  cursor: pointer;
  font-size: 18px;
}

/* Estilo do botão de baixar PDF */
.botao-pdf {
  width: 100%;
  padding: 12px 20px;
  background-color: #53eca4;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s;
}

.botao-pdf:hover {
  background-color: #41b487;
}

/* Gráfico */
canvas {
  display: flex;
  justify-content: center;
  margin: 20px auto;
  max-width: 400px;
  max-height: 200px;
}
